.title {
    padding: 10PX;
    @include flex;
    flex-direction: column;

    p{  
        border: 2px solid rgb(131, 140, 228);
        border-radius: 10px;
        padding: 50PX;
        background:rgb(164, 175, 190);
        width: 80%;
        box-shadow: 1px 1px 5px 5px rgb(100, 131, 173);
    }

}
  